<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">
  <test name="Test" priority="true">
    <classes>
      <class name="com.sel.test.web.HomePageTest" />
      <class name="com.sel.test.web.LoginFBPageTest" />
    </classes>
  </test>
</suite> 